# --- Definiciones Reutilizables (Mejores Prácticas) ---
x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

x-limits: &default-limits
  deploy:
    resources:
      limits:
        cpus: '1'
        memory: 1G

services:
  # --- 1. APLICACIÓN BACKEND ---
  backend:
    build: ./backend
    container_name: convertidor_backend
    restart: unless-stopped
    logging: *default-logging
    <<: *default-limits
    env_file: .env
    command: ["/app/start_gunicorn.sh"]
    volumes:
      - ./backend:/app
    expose:
      - "8000"
    depends_on:
      - db
    networks:
      - app-internal
      - proxy-global  # <-- Se conecta a la red del proxy

  # --- 2. BASE DE DATOS ---
  db:
    image: mysql:8.0
    container_name: convertidor_db
    restart: unless-stopped
    logging: *default-logging
    <<: *default-limits
    env_file: .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
      - ./zafiro_bi.sql:/docker-entrypoint-initdb.d/init-db.sql
    networks:
      - app-internal # <-- Aislada

# --- VOLÚMENES PERSISTENTES ---
volumes:
  mysql_data:

# --- REDES ---
networks:
  app-internal:
    driver: bridge
  proxy-global:
    external: true 